<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">

<head>
<meta charset="utf-8" />
<title>This is About page</title>
</head>

<body>
	<section>

		<div id="login">
			<div class="container text-center my-5">


				<h3>This is About page</h3>

				<div class="container text-center mt-4">
				
				<p>The Smart Contact Manager is a comprehensive system designed to streamline the management and organization of contacts, providing users with a range of features to ensure efficient and secure contact management. Below is an elaboration of its key functionalities and features:
 <br>
 User Registration and Secure Login: 
   Users can register for an account securely to access the system.
   The login process is designed to ensure the security of user accounts.
 
 Contact Operations: 
   Add, View, Edit, Delete Contacts:
     Users can add new contacts to the system, providing details such as name, nickname, phone number, email address, and additional notes.
     The system allows users to view, edit, and delete existing contacts as needed.
 
 Contact Details: 
   The system supports the storage of comprehensive contact details, including:
     Name
     Nickname
     Phone Number
     Email Address
     Additional Notes in the description
 
 Search Functionality: 
   Users can easily search for contacts by name, facilitating quick access to specific contact information.
 
 Account Recovery via Email: 
   In the event of account recovery, users can utilize an email-based recovery process. This ensures a secure method for users to regain access to their accounts.
 
 Encryption for Sensitive Data: 
   The system implements encryption techniques to secure sensitive data, such as user passwords. This enhances the overall security of the system and protects user information.
 
 Role-Based Access Control: 
   Role-based access control is implemented, particularly for regular users. This ensures that users have access only to the features and information relevant to their roles, enhancing security and data privacy.
 
 Payment Integrated Model: 
   The system incorporates a payment integrated model, allowing users to make payments seamlessly within the platform. This feature enhances the versatility of the Smart Contact Manager, making it suitable for professional and business use.
 <br>
Overall Objective:
The Smart Contact Manager system aims to provide users with a convenient and user-friendly solution for managing their contacts. By incorporating essential features and leveraging modern technologies, the system seeks to enhance the user experience, boost productivity in contact management tasks, and ensure the security and privacy of user data. Whether for personal or professional use, the Smart Contact Manager offers a robust and efficient platform for effective contact organization and management.</p>
					<p> Developed by... </p>
					<p>Shradha Doke(11)</p>
					<p>Stephen Nadar(32)</p>
					<p>Radhika Panchal(34)</p>

				</div>
			</div>
			<div class="container text-center mb-5">
				<footer>
					<p>&copy; 2023 Shradha Doke, Stephen Nadar, Radhika Panchal.
						All rights reserved.</p>
				</footer>

			</div>
		</div>

	</section>


</body>
</html>